a {
    text-decoration: none;
}

.LoginContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LoginBox {
    width: 25vw;
    height: 70vh;
    background-color: white;
    border-radius: 5vh 5vh 5vh 5vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0vh 0.8vh 3.2vh 0vh, rgba(0, 0, 0, 0.08) 0vh 0vh 0vh 0.13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    width: 18vw;
    text-align: center;
}

.inputBox {
    width: 21vw;
    height: 10vh;
    margin-top: 9vh;
    margin-bottom: 5vh;
}

.inputBoxToken {
    width: 20vw;
    height: 5vh;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2vh;
    border-radius: 0.67vh;
    border: 0.13vh solid #CDCDCD;
    text-align: center;
    color: #8A8A8A;
}

.buttonNoToken {
    height: 3vh;
    font-size: 0.8vw; 
    font-family: 'Roboto'; 
    font-weight: 400;
    color: #757575; 
    background: #FFF;
    margin-top: 0.5vh;
    cursor: pointer;
}

.buttonSignin {
    width: 20vw;
    height: 5vh;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2vh;
    border-radius: 0.67vh;
    border: 0.13vh solid #CDCDCD;
    text-align: center;
    margin-bottom: 4vh;
}

p.titleMain {
    font-family: 'Roboto'; 
    font-weight: 700;
    font-size: 2vw; 
    color: #3D3D3D; 
    margin-bottom: 2vh;
}

p.titleDesc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1vw; 
    color: #757575; 
    margin: 0vh;
}

input#btnSignin {
    background-color: #161623;
    color: #FFF; 
    border: none;
}

button#btnSigninDiscord {
    background-color: #FFF; 
    color: #616161; 
    display: flex; 
    justify-content: flex-start;
}

img.imgSigninDiscord {
    width: 2vw; 
    height: 3.2vh; 
    margin-left: 1.5vw; 
    margin-right: 2vw;
}


@media (max-width: 610px){
    .LoginContainer {
        background-color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .LoginBox {
        width: 65vw;
        min-height: 40vh;
        height: auto; 
        background-color: white;
        border-radius: 5vh;
        box-shadow: rgba(0, 0, 0, 0.05) 0vh 0.8vh 3.2vh 0vh, rgba(0, 0, 0, 0.08) 0vh 0vh 0vh 0.13vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px; 
    }
    
    .title {
        width: 100%; 
        text-align: center;
    }
    
    .inputBox {
        width: 90%; 
        height: 50px; 
        margin-top: 7vh; 
        margin-bottom: 5vh; 
    }
    
    .inputBoxToken {
        width: 100%; 
        height: 30px; 
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px; 
        border-radius: 5px; 
        border: 1px solid #CDCDCD; 
        text-align: center;
        color: #8A8A8A;
    }
    
    .buttonNoToken {
        height: 20px; 
        font-size: 10px; 
        font-family: 'Roboto';
        font-weight: 400;
        color: #757575;
        background: #FFF;
        margin-top: 5px; 
        cursor: pointer;
    }
    
    .buttonSignin {
        width: 90%; 
        height: 30px; 
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px; 
        border-radius: 5px; 
        border: 1px solid #CDCDCD; 
        text-align: center;
        margin-bottom: 20px; 
    }
    
    p.titleMain {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18.5px; 
        color: #3D3D3D;
        margin-bottom: 1.5vh;
    }
    
    p.titleDesc {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px; 
        color: #757575;
        margin: 0vh;
    }
    
    input#btnSignin {
        background-color: #227AFF;
        color: #FFF;
        border: none;
    }
    
    button#btnSigninDiscord {
        background-color: #FFF;
        color: #616161;
        display: flex;
        justify-content: flex-start;
    }
    
    img.imgSigninDiscord {
        width: 20px; 
        height: 17px; 
        margin-left: 15px; 
        margin-right: 30px; 
    }
    
}