
p {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-track
{
	border-radius: 0.5vw;
    
}

::-webkit-scrollbar
{
	width: 0.333vw;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0.5vw;
	background-color: #E6E6E6;
}

/* style={{width: '90%', height: 'auto', maxHeight: '70%', backgroundColor: '#14141A', borderRadius: '15px', marginTop: '2vw'}} */