
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.side-bar-menu {
    background-color: #161623;
    height: 100%;
    width: 20vw;
    /* padding-top: 30px; */
}

.main-menus {
    display : grid;
    margin-left: 2vw;
    margin-top: 2.2vw;
}

.btn-menu {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.1vw;
    color: white;
    text-decoration: none;
    display: flex;
    max-width: 15vw;
    align-items: center;
    margin-bottom: 2vh;
    cursor: pointer;
}