
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.side-bar-menu {
    background-color: #161623;
    height: 100%;
    width: 20vw;
    /* padding-top: 30px; */
}